[Unit]
Description=Wait for etcd2 to be online

Wants=network-online.target etcd2.service
After=network-online.target etcd2.service
Before=docker.service fleet.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/chmod +x /opt/bin/etcd-waiter.sh
ExecStart=/usr/bin/bash /opt/bin/etcd-waiter.sh

[Install]
RequiredBy=docker.service
